/* reset css 및 구글 웹폰트 로딩  */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.en {
   font-family: 'Exo 2', sans-serif; 
}

br.mo {
    display: none;
}


/* header style */
header {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100px;
    line-height: 100px;

    position: fixed;
    top: 0;
    z-index: 9999;
}

header .inner-header {
    /* background: orange; */
    width: 84%;
    margin: 0 auto;
}

header .inner-header .logo {
    /* background: skyblue; */
    float: left;
    width: 200px;
}

header .inner-header .logo img {
    width: 100%;
    vertical-align: middle;

    border: 1px solid #fff;
    border-radius: 15px;
    opacity: 0.9;
}

/* 모든 nav에 대한 li 가로 배치 */
header .inner-header nav li {
    float: left;
}

header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
}


header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
}

header .inner-header .gnb li {
    margin-right: 80px;
}

header .inner-header .gnb li a {
    display: block;
}

header .inner-header .gnb li a:hover {
    color: #ff8342;
}

header .inner-header .tnb {
    /* background: gray; */
    float: right;
}

header .inner-header .tnb li {
    margin-right: 25px;
}

/* 플라스크, 악수 아이콘 */
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
    margin-right: 8px;
    font-size: 20px;
}

/* 돋보기 아이콘 */
header .inner-header .tnb li:last-child i {
    margin-left: 5px;
    font-size: 20px;
}

header .inner-header .tnb li:last-child a {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px 15px;
}

header .inner-header .tnb li:last-child a:hover {
    background: #fff;
    color: #ff8342;
}

/* 모바일 전용 햄버거 버튼은 default가 display: none 으로 */
header .inner-header .gnb-mobile {
    display: none;
}


/* -------------------section.main style---------------------------- */

section.main {
    background: url(./img/vis_4.jpg) no-repeat center / cover fixed;
    height: 100vh;
    position: relative;
}

section.main .main-title {
    /* background: gray; */

    width: 45%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px #123;

    animation: uprise 1s;
}

@keyframes uprise {
    from {
        opacity: 0;
        top: 60%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

section.main .main-title h2 {
    font-size: 55px;
}

section.main .main-title p {
    font-size: 25px;
    margin: 25px 0;
}

section.main .main-title .view {
    font-size: 20px;
    letter-spacing: 2px;

    display: block;
    width: 180px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 8px 0;

    position: relative;
    overflow: hidden;
}

section.main .main-title .view::after {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

section.main .main-title .view:hover::after {
    width: 100%;
}

/* 각 section에 들어갈 디자인을 일괄 지정 */
section .title {
    text-align: center;
}

section .title h2 {
    font-size: 45px;
    color: #111;
    margin-bottom: 10px;
}

section .title p {
    font-size: 18px;
    color: #555;
}

section .sub-container {
    /* background: orange; */
    width: 74%;
    margin: 0 auto;
}


/* -------------------section.about style---------------------------- */
section.about {
    /* background: tomato; */
    margin: 80px 0;
}

section.about .sub-container {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

section.about .sub-container li {
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    height: 510px;
}

section.about .sub-container li .img-box {
    overflow: hidden;
}

section.about .sub-container li .img-box img {
    width: 100%;
    transition: 0.6s;
}

section.about .sub-container li a:hover .img-box img {
    transform: scale(1.2);
}

section.about .sub-container li a .text {
    padding: 25px;
}

section.about .sub-container li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

section.about .sub-container li a .text p {
    font-size: 16px;
    margin-bottom: 20px;
}

section.about .sub-container li a .text p.more {
    /* 일괄 대소문자 변경 <-> lowercase */
    text-transform: uppercase;
    font-weight: 700;

    position: relative;
    padding-left: 40px;
}

section.about .sub-container li a .text p.more::before {
    content: '→';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    background: #ff8342;

    position: absolute;
    top: -7px;
    left: 0;
}

/* -------------------section.innovation style---------------------------- */
section.innovation {
    margin-bottom: 150px;
}

section.innovation .img-box {
    margin-top: 50px;
    height: 540px;
    background: url(./img/product_1.jpg) no-repeat center / cover;

    position: relative;
}

section.innovation .img-box .inner {
    background: #3a3c4e;
    width: 80%;
    color: #fff;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}

section.innovation .img-box .inner h3 {
    background: #fff;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
}

section.innovation .img-box .inner .bottom {
    padding: 35px 85px;
}

section.innovation .img-box .inner .bottom p {
    float: left;
    width: 70%;
    line-height: 1.6;
}

section.innovation .img-box .inner .bottom a {
    /* display: block; -> float 사용할 거면 굳이 block으로 직접 바꿀 필요 없음. */
    float: right;
    padding: 7px 30px;
    border-radius: 50px;
    background: #ff8342;
}

section.innovation .img-box .inner .bottom a:hover {
    background: #f86010;
}


/* -------------------section.me style---------------------------- */
section.me {
    background: url(./img/me.jpg) no-repeat center / cover;
    padding: 80px 0;
    margin-bottom: 150px;
}

section.me ul.list {
    margin-top: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

section.me ul.list > li {
    padding: 30px 60px;
}

section.me ul.list > li:first-child {
    border-bottom: 1px solid #ddd;
}

section.me ul.list > li h3 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}

section.me ul.list > li h3 span {
    position: absolute;
    left: -30px;
    color: #ff8342;
}

section.me ul.list > li p {
    line-height: 1.6;
    margin-bottom: 20px;
}

section.me ul.list > li .more {
    font-size: 16px;
    font-weight: 700;
}

section.me ul.list > li .more span {
    color: #ff8342;
    font-size: 14px;
    margin-left: 3px;
}

section.me ul.list ul.in {
    margin-bottom: 30px;
}

section.me ul.list ul.in li em {
    font-weight: 700;
    float: left;
    width: 12%;
}

section.me ul.list ul.in li p {
    float: left;
    position: relative;
}

section.me ul.list ul.in li p::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff8342;

    position: absolute;
    left: -35px;
    top: 8px;
}

#incruit-btn {
    display: block;
    width: 280px;
    background: #ff8342;
    color: #fff;
    margin: 20px auto 0;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
}

/* -------------------section.sns style---------------------------- */
section.sns {
    margin-bottom: 60px;
}

section.sns ul {
    margin: 50px auto;
}

section.sns ul li {
    float: left;
    width: 32%;
    margin-right: 2%;
}

section.sns ul li:last-child {
    margin-right: 0;
}

section.sns ul li .img-box {
    max-height: 250px;
    overflow: hidden;
    position: relative;
}

section.sns ul li .img-box img {
    width: 100%;
}

section.sns ul li .img-box::before {
    content: "";
    width: 0;
    height: 100%;
    background: rgba(255, 131, 66, 0.75);

    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

section.sns ul li a:hover .img-box::before {
    width: 100%;
}

section.sns ul li .img-box::after {
    content: "BLOG";
    font-size: 15px;
    font-family: "EXO 2", sans-serif;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 5px 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

section.sns ul li a:hover .img-box::after {
    opacity: 1;
}

section.sns ul li .bottom {
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}

section.sns ul li .bottom p {
    font-size: 18px;
}

section.sns ul li .bottom p.color {
    font-size: 15px;
    color: #999;
    margin-bottom: 10px;
}

section.sns ul li .bottom p.time {
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}

section.sns ul li .bottom p.time span {
    margin-left: 5px;
    font-size: 0.9em;
}

/* -------------------footer style---------------------------- */
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
}

footer .inner {
    width: 84%;
    margin: 0 auto;
}

footer .inner .ft-logo {
    float: left;
    width: 14%;
}

footer .inner .ft-logo img {
    width: 100%;
}

footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}

footer .inner .address li:last-child {
    color: #999;
}

footer .inner .list {
    float: right;
    margin-top: 20px;
}

footer .inner .list li {
    float: left;
    margin-left: 80px;
}

footer .inner .list li a:hover {
    color: #ff8342;
    text-decoration: underline;
}

/* ========== 반응형 웹 디자인 ========== */
/* 노트북 해상도 1600px 미만일 때에 적용할 css 문법 */
@media (max-width: 1599px) {
    header .inner-header nav {
        display: none;
    }

    header .inner-header .gnb-mobile {
        display: block;
        float: right;
        font-size: 40px;
        color: #fff;
    }

    section.main .main-title h2 {
        font-size: 35px;
      }
   
      section.main .main-title p {
        font-size: 18px;
      }
   
      section.main .main-title .view {
        font-size: 12px;
        width: 120px;
      }
   
      section.sns ul li .img-box {
        max-height: 170px;
      }
   
      footer .inner .ft-logo {
        width: 30%;
      }

}

/* 태블릿 1024px 이하 해상도 (아이패드 프로) */
@media (max-width: 1024px) {
    header .inner-header,
    section .sub-container,
    footer .inner {
      width: 95%;
    }
 
    section.main .main-title h2 {
      font-size: 55px;
    }
 
    section.main .main-title p {
      font-size: 22px;
    }
 
    section.main .main-title .view {
      font-size: 16px;
      width: 180px;
    }
 
    section.me ul.list ul.in li p::before {
      left: -20px;
    }
 
    footer .inner .list {
      float: left;
    }
}

/* 태블릿 768px 이하 해상도 (아이패드 미니 or 갤럭시 폴드 펼쳤을 때) */
@media (max-width: 768px) {
    section.main .main-title h2 {
        font-size: 40px;
      }
   
      section.main .main-title p {
        font-size: 18px;
      }
   
      section.about .sub-container li {
        float: none;
        width: 100%;
        margin-bottom: 150px;
      }
   
      section.about .sub-container li .img-box {
        height: 500px;
      }
   
      section.innovation .img-box .inner .bottom {
        padding: 30px;
      }
   
      section.innovation .img-box .inner .bottom p {
        float: none;
        width: 100%;
        margin-bottom: 30px;
      }
   
      section.innovation .img-box .inner .bottom a {
        float: none;
        display: block;
        width: 100px;
        text-align: center;
        margin: 0 auto;
      }
   
      section.me {
        padding: 50px 0;
      }
   
      section.me ul.list ul.in li em {
        float: none;
        width: 100%;
        font-size: 17px;
        margin-bottom: 5px;
      }
   
      section.me ul.list ul.in li p {
        float: none;
        margin-top: 10px;
      }
   
      section.sns ul li {
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }
   
      section.sns ul li a .img-box {
        max-height: none;
      }
   
      footer .inner .ft-logo {
        float: none;
        width: 30%;
        margin: 0 auto;
      }
   
      footer .inner .address {
        float: none;
        width: 100%;
        text-align: center;
        margin: 20px auto;
      }
   
      footer .inner .list li {
        margin-left: 60px;
      }
}

/* 모바일 414px 이하 해상도 (대형 폰 제외한 나머지 스마트폰) */
@media (max-width: 414px) {
    header {
        height: 80px;
        line-height: 80px;
    }

    header .inner-header .logo {
        width: 150px;
    }

    section.main .main-title h2 {
        font-size: 28px;
    }

    section.main .main-title p {
        font-size: 16px;
    }

    section.main .main-title .view {
        width: 150px;
        font-size: 14px;
    }

    section.about {
    padding: 30px 0;
    }

    section.about .sub-container li .img-box {
    height: 300px;
    }

    section.about .sub-container li {
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: #fafafa;
    margin-bottom: 30px;
    height: fit-content;
    }

    section.innovation .img-box {
    height: 400px;
    }

    section.innovation .img-box .inner {
    top: 50%;
    }

    section.me ul.list>li {
    padding: 20px 20px 20px 45px;
    }

    section.me ul.list>li p {
    text-align: justify;
    }

    footer .inner .ft-logo {
    width: 50%;
    }

    footer .inner .list {
    display: none;
    }



    br.mo {
        display: block;
    }
}




